/os_pi_plus_secure.py
/secret_bot.py
/divTelebot_config.py
/my_os_test_config.py
*.db
/secret_for_menu.py
*.log
secret_help_fond.py
secret_tkb.py
secret_cheker.py
/test
secret*
RC.*
RC.xlsx
/div_tester.py
/src_for_rimm/secret_pass.py
nohup.out
/*/nohup.out